.select-tax {
    width: 100%;
    background-color: $white;
    padding-bottom: 6rem;
    @media (max-width: $sw-xs-max) {
        padding-bottom: 4rem;
    }
    .page-title {
        padding: 0 0 8px 0;
        @media (max-width: $sw-xs-max) {
            padding: 0 0 4px 0;
        }
        @media (max-width: $sw-xx-max) {
            text-align: center;
        }
    }
    &__row {
        width: 100%;
        background-color: #F4FAFF;
        border: 1px solid #E5E5E5;
        box-shadow: 0px 0px 10px 2px rgba(135, 135, 135, 0.06);
        margin-bottom: 2.2rem;
        padding: 1.4rem 3.9rem 1.7rem 2rem;
        display: flex;
        align-items: flex-start;
        @media (max-width: $sw-xs-max) {
            flex-wrap: wrap;
            padding: 0;
            margin-bottom: 2rem;
            background-color: $white;
        }
        &__head {
            width: 15.5%;
            padding-right: 1.5rem;
            @media (max-width: $sw-md-max) {
                width: 10%;
            }
            @media (max-width: $sw-xs-max) {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: 4.5rem;
                padding: 5px 1.2rem;
                background-color: #F4FaFF;
                border-bottom: 1px solid #E5E5E5;
                order: 0;
            }
            .select-tax__row__title {
                @media (max-width: $sw-xs-max) {
                    font-weight: 500;
                }   
            }
        }
        &__dates {
            width: 27%;
            padding-right: 1.5rem;
            @media (max-width: $sw-md-max) {
                width: 31%;
            }
            @media (max-width: $sw-xs-max) {
                width: 100%;
                order: 2;
                padding: 2px 1.2rem 4px 1.2rem;
            }
        }
        &__payments {
            width: 36%;
            padding-right: 2rem;
            display: flex;
            @media (max-width: $sw-md-max) {
                width: 42%;
                padding-right: 1.5rem;
            }
            @media (max-width: $sw-xs-max) {
                width: 100%;
                order: 3;
                padding: 1rem 1.2rem 1rem 1.2rem;
            }
            &__side {
                &:first-child {
                    width: 70%;
                    padding-right: 1.3rem;
                    text-align: right;
                    @media (max-width: $sw-xs-max) {
                        padding-right: 1rem;
                        text-align: left;
                        width: 100%;
                    }
                }
                &:last-child {
                    width: 30%;
                    text-align: left;
                    @media (max-width: $sw-xs-max) {
                        text-align: right;
                        flex-shrink: 0;
                    }
                    .select-tax__row__text {
                        @media (max-width: $sw-xs-max) {
                            font-size: 1.8rem;
                            line-height: 1.33em;
                        }   
                    }
                }
            }
        }
        &__total {
            margin-left: auto;
            text-align: right;
            @media (max-width: $sw-xs-max) {
                order: 1;
                width: 100%;
                margin-left: 0;
                padding: 1rem 1.2rem 3px 1.2rem;
                text-align: left;
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
            .select-tax__row__title {
                @media (max-width: $sw-xs-max) {
                    font-size: 1.8rem;
                    line-height: 1.33em;
                }   
            }
        }


        &__title {
            display: block;
            width: 100%;
            font-weight: 600;
            color: $dark;
            margin-bottom: 4px;
            font-size: 1.8rem;
            line-height: 1.33em;
            text-transform: capitalize;
            @media (max-width: $sw-xs-max) {
                font-size: 1.6rem;
                line-height: 1.5em;
                margin-bottom: 0;
            }
        }
        &__link {
            font-size: 1.8rem;
            line-height: 1.33em;
            color: $blue;
            margin-bottom: 4px;
            display: inline-block;
            &:hover {
                @media (min-width: $sw-sm-min) {
                    color: $green;
                }
            }
        }
        &__year {
            display: block;
            width: 100%;
            font-weight: 600;
            color: $blue;
            font-size: 1.8rem;
            line-height: 1.33em;
            @media (max-width: $sw-xs-max) {
                color: $dark;
                width: auto;
                font-size: 1.6rem;
                line-height: 1.5em;
            }
        }
        &__text {
            margin-bottom: 0;
            font-weight: 400;
            font-size: 1.8rem;
            line-height: 1.33em;
            @media (max-width: $sw-xs-max) {
                font-size: 1.6rem;
                line-height: 1.5em;
            }
        }
    }
}