mixin select-tax(data)
	section.select-tax
		.container
			.page-title
				h2 Select a Tax Year to get underway
			.select-tax__inner
				.select-tax__row
					.select-tax__row__head
						span.select-tax__row__title Tax Year
						span.select-tax__row__year 2020/21
					.select-tax__row__dates
						span.select-tax__row__title Dates
						p.select-tax__row__text 6 April 2020 - 5 April 2021
						p.select-tax__row__text 96 Days to go before submission deadline
					.select-tax__row__total
						span.select-tax__row__title Total tax Estimate
						p.select-tax__row__text £120.00
				.select-tax__row
					.select-tax__row__head
						span.select-tax__row__title Tax Year
						span.select-tax__row__year 2019/20
					.select-tax__row__dates
						span.select-tax__row__title Dates
						p.select-tax__row__text 6 April 2019 - 5 April 2020
						p.select-tax__row__text Submitted: 28 January 2021
					.select-tax__row__payments
						.select-tax__row__payments__side
							span.select-tax__row__title payments:
							p.select-tax__row__text Main Payment (31st Jan 2021)
							p.select-tax__row__text Payment on Account (31st July 2022)
						.select-tax__row__payments__side
							a(href="javascript:void(0)").select-tax__row__link How to pay
							p.select-tax__row__text £60.00
							p.select-tax__row__text £60.00
					.select-tax__row__total
						span.select-tax__row__title Total tax
						p.select-tax__row__text £120.00
				.select-tax__row
					.select-tax__row__head
						span.select-tax__row__title Tax Year
						span.select-tax__row__year 2018/19
					.select-tax__row__dates
						span.select-tax__row__title Dates
						p.select-tax__row__text 6 April 2018 - 5 April 2019
						p.select-tax__row__text Submitted: 24 January 2020
					.select-tax__row__payments
						.select-tax__row__payments__side
							span.select-tax__row__title payments:
							p.select-tax__row__text Main Payment (31st Jan 2020)
							p.select-tax__row__text Payment on Account (31st July 2021)
						.select-tax__row__payments__side
							a(href="javascript:void(0)").select-tax__row__link How to pay
							p.select-tax__row__text £60.00
							p.select-tax__row__text £60.00
					.select-tax__row__total
						span.select-tax__row__title Total tax
						p.select-tax__row__text £120.00