.main-return {
    padding-bottom: 5rem;
    @media (max-width: $sw-xx-max) {
        padding-bottom: 2rem;
    }
    .page-title {
        padding: 4.4rem 0 4rem 0;
        @media (max-width: $sw-sm-max) {
            padding: 4rem 0 2.5rem 0;
        }
        @media (max-width: $sw-xx-max) {
            text-align: center;
            padding: 2.8rem 0 1.8rem 0;
        }
    }
    &-inner {
        display: flex;
        justify-content: space-between;
        background-color: $white;
        border: 1px solid #ECECEC;
        box-shadow: 0px 0px 10px 2px rgba(135, 135, 135, 0.06);
        border-radius: 1rem;
        padding: 3.5rem 2.7rem 3.5rem 4.8rem;
        @media (max-width: $sw-sm-max) {
            padding: 3.5rem;
        }
        @media (max-width: $sw-xs-max) {
            flex-wrap: wrap;
        }
        @media (max-width: $sw-xx-max) {
            padding: 0;
            border: none;
            box-shadow: none;
        }
    }
    &__content {
        width: calc(100% - 29.8rem);
        @media (max-width: $sw-xs-max) {
            width: 100%;
        }
    }
    &__aside {
        width: 25.2rem;
        margin-left: 4.7rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @media (max-width: $sw-xs-max) {
            width: 100%;
            flex-direction: row;
            margin-left: 0;
            margin-top: 3rem;
        }
        @media (max-width: $sw-xx-max) {
            flex-wrap: wrap;
        }
        &__top {
            @media (max-width: $sw-xs-max) {
                max-width: 100%;
                width: calc(50% - 2rem);
            }
            @media (max-width: $sw-xx-max) {
                width: 100%;
                margin-bottom: 2rem;
            }
        }
        &__bottom {
            margin-bottom: 8.4rem;
            margin-top: 2rem;
            width: 100%;
            max-width: 21.3rem;
            @media (max-width: $sw-xs-max) {
                max-width: 100%;
                width: calc(50% - 2rem);
                margin-bottom: 3rem;
            }
            @media (max-width: $sw-xx-max) {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
            }
        }
    }
}

.complete-block {
    width: 24rem;
    background-color: $white;
    border: 1px solid #E0EAE6;
    padding: 1.1rem 1.2rem 7.8rem 1.2rem;
    margin-left: auto;
    margin-bottom: 11.7rem;
    @media (max-width: $sw-xs-max) {
        width: 100%;
        margin-left: 0;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 1.5rem 1.2rem;
        margin-bottom: 2rem;
    }
    &__chart {
        width: 21.6rem;
        height: 21.6rem;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        margin-bottom: 2.9rem;
        @media (max-width: $sw-xs-max) {
            margin-bottom: 1.5rem;
        }
        @media (max-width: $sw-xx-max) {
            width: 100%;
            justify-content: center;
        }
        &__bar {
            width: 21.6rem;
            height: 21.6rem;
        }
        &__text {
            font-weight: bold;
            font-size: 1.8rem;
            line-height: 1.11em;
            color: $dark;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            white-space: nowrap;
            text-align: center;
            width: 100%;
        }
    }
    &__text {
        margin-bottom: 5.6rem;
        padding: 0 6px;
        @media (max-width: $sw-xs-max) {
            margin-bottom: 0;
        }
        &__title {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            font-size: 1.8rem;
            line-height: 1.38em;
            color: $dark;
            margin-bottom: 9px;
            .icon-question {
                margin-right: 1rem;
                font-size: 2.4rem;
            }
        }
        &__subtitle {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            font-size: 1.4rem;
            line-height: 1.78em;
            color: $dark;
            padding: 0 5px;
            @media (max-width: $sw-xs-max) {
                padding: 0;
                justify-content: center;
            }
            &__date {
                margin-left: 1.3rem;
                font-weight: 600;
            }
        }
    }
    &__submit {
        width: 100%;
        padding: 0 1.1rem;
        text-align: center;
        @media (max-width: $sw-xs-max) {
            padding: 0;
            margin-top: 2.5rem;
        }
        @media (max-width: $sw-xx-max) {
            padding: 0;
        }
        .btn {
            min-width: auto;
            width: 100%;
            font-weight: 600;
            height: 4.6rem;
            width: 20rem;
            margin: 0 auto;
        }
    }
}

.complete-info {
    text-align: left;
    margin: 0 auto;
    width: 100%;
    max-width: 20rem;
    @media (max-width: $sw-xs-max) {
        text-align: center;
        max-width: none;
    }
    p {
        font-size: 1.9rem;
        line-height: 1.26em;
        color: #616161;
        @media (max-width: $sw-xs-max) {
            font-size: 1.7rem;
        }
    }
}

.complete-save {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-weight: 600;
    font-size: 2rem;
    line-height: 1.25em;
    color: #888888;
    margin-bottom: 1.5rem;
    @media (max-width: $sw-xs-max) {
        font-size: 1.6rem;
    }
    .icon-save {
        font-size: 1.8rem;
        margin-right: 1.5rem;
    }
    &-date {
        margin-bottom: 2.7rem;
        span {
            display: block;
            width: 100%;
            font-size: 2rem;
            line-height: 1.25em;
            color: #888888;
            @media (max-width: $sw-xs-max) {
                font-size: 1.6rem;
            }
        }
    }
    &-actions {
        display: flex;
        flex-direction: column;
        @media (max-width: $sw-xs-max) {
            max-width: 25rem;
        }
        .btn {
            font-weight: 600;
            width: 100%;
            & + .btn {
                margin-top: 1.2rem;
            }
        }
    }
}