mixin main-return(data)
	section.main-return
		.container
			.page-title
				h2 Self Assessment for Tax Year 2020/21
			.main-return-inner
				.main-return__content
					form.page-form(action="javascript:void(0)")
						.page-form__article
							.page-form__article__top
								span.page-form__article__title Personal details
								p.page-form__article__info We've pre-filled these details using your user profile in Settings. Any changes made here will only affect this Self Assessment for this tax year.
							.page-form__group
								.page-form__line
									.page-form__line__descr
										span.page-form__line__title First Name
										p.page-form__line__subtitle Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
									.page-form__line__field
										.input-wrap
											input.form-control(type="text", placeholder="First name")
								.page-form__line
									.page-form__line__descr
										span.page-form__line__title Last Name
									.page-form__line__field
										.input-wrap
											input.form-control(type="text", placeholder="Last name")
								.page-form__line
									.page-form__line__descr
										span.page-form__line__title Unique Tax Reference (UTR) new
									.page-form__line__field
										.input-wrap
											input.form-control(type="text", placeholder="Unique tax reference")
								.page-form__line
									.page-form__line__descr
										span.page-form__line__title National Insurance Number new
									.page-form__line__field
										.input-wrap
											input.form-control(type="text", placeholder="National Insurance Number")
						.page-form__article
							.page-form__article__top
								span.page-form__article__title Address
							.page-form__group
								.page-form__line
									.page-form__line__descr
										span.page-form__line__title Address Line 1
									.page-form__line__field
										.input-wrap
											input.form-control(type="text", placeholder="Address line 1")
								.page-form__line
									.page-form__line__descr
										span.page-form__line__title Address Line 2
									.page-form__line__field
										.input-wrap
											input.form-control(type="text", placeholder="Address line 2")
								.page-form__line
									.page-form__line__descr
										span.page-form__line__title Address Line 3
									.page-form__line__field
										.input-wrap
											input.form-control(type="text", placeholder="Address line 3")
								.page-form__line
									.page-form__line__descr
										span.page-form__line__title Town
									.page-form__line__field
										.input-wrap
											input.form-control(type="text", placeholder="Town")
								.page-form__line
									.page-form__line__descr
										span.page-form__line__title Postcode
									.page-form__line__field
										.input-wrap
											input.form-control(type="text", placeholder="Postcode")
						.page-form__article
							.page-form__article__top
								span.page-form__article__title Other Details
							.page-form__group
								.page-form__line
									.page-form__line__descr
										span.page-form__line__title Taxpayer residency status new
									.page-form__line__field
										.input-wrap.input-wrap-select
											select.form-control.form-control--select(name="taxpayer_residency_status")
												option(value="1") English and Northern Irish
												option(value="2") English
												option(value="3") Northern Irish
								.page-form__line
									.page-form__line__descr
										span.page-form__line__title Date of Birth #[span.label-optional (Optional)]
									.page-form__line__field
										.input-wrap.input-wrap-datepicker
											input.form-control.js-datepicker(type="text", placeholder="Date of birth")
								.page-form__line
									.page-form__line__descr
										span.page-form__line__title Marital Status
									.page-form__line__field
										.input-wrap.input-wrap-select
											select.form-control.form-control--select(name="marital_status")
												option(value="1") Married
												option(value="2") Don't married
								.page-form__line
									.page-form__line__descr
										span.page-form__line__title.page-form__line__title--secondary Are you or your spouse or civil partner registered blind on a local authority or other register?
									.page-form__line__field
										.input-wrap.input-wrap-select
											select.form-control.form-control--select(name="spouse")
												option(value="1") Yes
												option(value="2") No
								.page-form__line
									.page-form__line__descr
										span.page-form__line__title Student Loan
									.page-form__line__field
										.input-wrap.input-wrap-select
											select.form-control.form-control--select(name="student_loan")
												option(value="1") Yes
												option(value="2") No
								.page-form__line
									.page-form__line__descr
										span.page-form__line__title Postgraduate loan
									.page-form__line__field
										.input-wrap.input-wrap-select
											select.form-control.form-control--select(name="taxpayer_residency_status")
												option(value="1") Yes
												option(value="2") No
						button.btn.btn--bordered(type="submit") Save Employement
				aside.main-return__aside
					.main-return__aside__top
						.complete-block
							.complete-block__chart
								.complete-block__chart__bar#complete_block_chart_bar
								input(type="hidden", id="complete_block_chart_trigger", value="70")
								span.complete-block__chart__text #[span(id="complete_block_chart_data") 70] COMPLETE
							.complete-block__text
								.complete-block__text__title  
									+svg('icon-question')
									span Not filed
								.complete-block__text__subtitle
									span HMRC deadline:
									span.complete-block__text__subtitle__date 31 Jan 22
							.complete-block__submit
								button.btn.btn--filled(type="button", disabled) Submit For Processing
						.complete-info
							p You have fields to complete before you can Submit for Processing
					.main-return__aside__bottom
						.complete-save
							+svg('icon-save')
							span Last saved
						.complete-save-date
							span 3.34pm
							span Thurs 19th October
							span 2020
						.complete-save-actions
							button.btn.btn--filled.btn--xs(type="button") Save Draft
							a.btn.btn--green.btn--xs(href="index.html", download="") Download PDF of Draft
						