.l-wrapper{
	position: relative;
	min-height: 100vh;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	@media (max-width: $sw-xs-max) {
		padding-top: 7.5rem;
	}
	@media (max-width: $sw-xx-max) {
		padding-top: 9.4rem;
	}
}

.main-content {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}

a {
	transition: color .3s ease;
}

.container, .container-fluid {
	padding-left: 3rem;
	padding-right: 3rem;
	@media (max-width: $sw-md-max) {
		padding-left: 2rem;
		padding-right: 2rem;
	}
	@media (max-width: $sw-xs-max) {
		padding-left: 1.8rem;
		padding-right: 1.8rem;
	}
}

h2 {
	font-size: 3rem;
	line-height: 1.1em;
	margin-bottom: 1.5rem;
	color: $darkBlue;
	font-weight: 400;
}

h3 {
	font-weight: 600;
	font-size: 1.8rem;
	line-height: 1.3em;
	color: $blue;
}

.page-title {
	padding: 4.8rem 0 6rem 0;
}

.text-bold {
	font-weight: 600;
}

p {
	font-size: 1.6rem;
	line-height: 1.5em;
	color: $dark;
}