//-----------   INCLUDES   --------------

//- helpers
include ../helpers/paths
include ../helpers/_mixins

//- components
include ../components/head/head
include ../components/header/header


//-----------   INCLUDES END  --------------

doctype html
html(lang='en')
	block head
		+head({'title':'Hello'})
	body.main-page
		.l-wrapper
			block header
				+header()
			main.main-content
				block content
			block footer
		block beforescripts
		script(src=route.js + "main.js")
		block scripts