.greet-section {
    width: 100%;
    background-color: $white;
    .page-title {
        padding: 2.2rem 0 8px 0;
        @media (max-width: $sw-xx-max) {
            text-align: center;
        }
    }
    &__inner {
        width: 100%;
        display: flex;
        @media (max-width: $sw-sm-max) {
            flex-wrap: wrap;
        }
        &__content {
            width: calc(100% - 40.2rem);
            display: flex;
            flex-wrap: wrap;
            @media (max-width: $sw-sm-max) {
                width: 100%;
                order: 1;
            }
        }
        &__aside {
            width: 37.4rem;
            margin-left: 2.8rem;
            flex-shrink: 0;
            @media (max-width: $sw-sm-max) {
                width: 100%;
                margin-left: 0;
                margin-bottom: 2rem;
            }
        }
    }
}

.info-box {
    width: calc(50% - 1.5rem);
    margin-bottom: 3.4rem;
    background: $white;
    border: 1px solid #E0EAE6;
    padding: 2rem 2rem 1.3rem 2rem;
    @media (max-width: $sw-sm-max) {
        margin-bottom: 2rem;
        padding: 2rem;
    }
    @media (max-width: $sw-xx-max) {
        width: 100%;
    }
    &:not(.info-box--lg) {
        .info-box__side__links {
            margin-top: 2.3rem;
        }
    }
    &__title {
        margin-bottom: 1.8rem;
        width: 100%;
    }
    &__subtitle {
        margin-bottom: 0;
        line-height: 1.5em;
        margin-top: -9px;
    }
    &__link {
        color: $blue;
        font-size: 1.6rem;
        line-height: 1.5em;
        &:hover {
            @media (min-width: $sw-sm-min) {
                color: $green;
            }
        }
    }
    &-grid {
        width: 100%;
        display: flex;
        justify-content: space-between;
        @media (max-width: $sw-xx-max) {
            flex-wrap: wrap;
        }
    }
    &--lg {
        width: 100%;
        display: flex;
        @media (max-width: $sw-xs-max) {
            justify-content: space-between;
        }
        @media (max-width: $sw-xx-max) {
            flex-wrap: wrap;
            justify-content: flex-start;
        }
    }
    &__side {
        width: 25%;
        @media (max-width: $sw-xx-max) {
            width: 100%;
        }
        &:not(.info-box__side--lg) {
            @media (max-width: $sw-xs-max) {
                text-align: center;
            }
            @media (max-width: $sw-xx-max) {
                text-align: left;
            }
        }
        &:not(:last-child) {
            @media (max-width: $sw-xx-max) {
                margin-bottom: 2rem;
            }
        }
        &--lg {
            width: 50%;
            padding-right: 6rem;
            @media (max-width: $sw-xs-max) {
                width: 40%;
                padding-right: 0;
            }
            @media (max-width: $sw-xx-max) {
                width: 100%;
                margin-bottom: 2rem;
            }
            .info-box__title {
                margin-bottom: 4px;
            }
            p {
                line-height: 1.3em;
                margin-bottom: 0;
            }
        }
        &__links {
            display: flex;
            flex-direction: column;
        }
    }
}

.complete-tasks {
    border: 1px solid #CB0000;
    padding: 1.8rem 2rem 2.4rem 1.8rem;
    background-color: $white;
    &__title {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 1.9rem;
        color: #CB0000;
        font-weight: 600;
        font-size: 1.7rem;
        line-height: 1.23em;
        .icon-danger {
            font-size: 2.3rem;
            margin-right: 1rem;
        }
    }
    &__noty {
        margin-bottom: 1.4rem;
        p {
            margin-bottom: 0;
        }
    }
    &__list {
        margin-bottom: 1.3rem;
        &__item {
            font-size: 1.6rem;
            line-height: 1.5em;
            color: $blue;
            font-weight: 600;
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            &:hover {
                @media (min-width: $sw-sm-min) {
                    color: $green;
                    .complete-tasks__list__item__icon {
                        .icon-arrow {
                            transform: translateX(3px);
                        }
                    }
                }
            }
            &__icon {
                width: 2.4rem;
                height: 2.4rem;
                margin-right: 1.1rem;
                flex-shrink: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                .icon-arrow {
                    font-size: 1.1rem;
                    transform: none;
                    transition: transform .3s ease;
                }
            }
        }
    }
    &__more {
        color: $lightBlue;
        font-size: 1.6rem;
        line-height: 1.2em;
        &:hover {
            @media (min-width: $sw-sm-min) {
                color: $green;
            }
        }
    }
}