mixin welcome-section(data)
	section.greet-section
		.container
			.page-title
				h2 Welcome to SALI! She'll hlp you get your Self Assessment sorted in no time.
			.greet-section__inner
				.greet-section__inner__content
					.info-box-grid
						.info-box.info-box--lg
							.info-box__side.info-box__side--lg
								h3.info-box__title How to use SALI at her best!
								p SALI (Self aassessment for Locums Integration... you can see why we shortened it!) is a tool specifically for Locums, integrated with Locum Hub Wales and powered by accountans; Your Business Hub
							.info-box__side
								p.info-box__subtitle Try our quick videos;
								.info-box__side__links
									a.info-box__link(href="javascript:void(0)") Getting Started (2:24)
									a.info-box__link(href="javascript:void(0)") Self Employment (1:55)
							.info-box__side
								p.info-box__subtitle Read Guidance Notes
								.info-box__side__links
									a.info-box__link(href="javascript:void(0)") Getting Started
									a.info-box__link(href="javascript:void(0)") Self Employment
									a.info-box__link(href="javascript:void(0)") 'Offline' Support
					.info-box-grid
						.info-box
							h3.info-box__title New to Self Assessment?
							p Self Assessments are complicated, we'll help you get orientated in to time having a feel for the expected tax will help you save before the deadline to pay. 
							.info-box__side__links
								a.info-box__link(href="javascript:void(0)") Overview Notes
								a.info-box__link(href="javascript:void(0)") Keeping Paperwork
								a.info-box__link(href="javascript:void(0)") Tax Calculation
								a.info-box__link(href="javascript:void(0)") Payments on Account
								a.info-box__link(href="javascript:void(0)") Submission Deadlines
								a.info-box__link(href="javascript:void(0)") How to Pay
						.info-box
							h3.info-box__title What's next for SALI?
							p Self Assessment data, allowances and rates adapt every Tax Year. We’ll keep you up to date with all of these.
							p Here are planned Feature Improvements so far.
							p Bring ‘Offline’ elements into SALI
							p Integrate ‘Tasks’ into the Locum Hub Wales dashboard
							p Add progress widgets to pages so you know how you’re doing.
							p Please #[a.info-box__link(href="javascript:void(0)") make suggestions to us] anytime.
				.greet-section__inner__aside
					.complete-tasks
						.complete-tasks__title
							+svg('icon-danger')
							span Tasks
						.complete-tasks__noty
							p You have #[span.text-bold 1] tax year to complete
						.complete-tasks__list
							a.complete-tasks__list__item(href="javascript:void(0)")
								.complete-tasks__list__item__icon
									+svg('icon-arrow')
								span 2020/2021 Tax Year is 70% complete, click to continue
						a.complete-tasks__more(href="javascript:void(0)") See all tasks
							