.page-form {
    &__article {
        margin-bottom: 3rem;
        @media (max-width: $sw-xx-max) {
            margin-bottom: 2.2rem;
        }
        &__top {
            margin-bottom: 2rem
        }
        &__title {
            display: block;
            width: 100%;
            font-weight: 600;
            font-size: 1.8rem;
            line-height: 1.33em;
            color: $dark;
            margin-bottom: 1rem;
        }
        &__info {
            margin-bottom: 0;
            font-size: 1.8rem;
            line-height: 1.33em;
            color: $dark;
        }
    }
    &__group {
        width: 100%;
        background: #F4FAFF;
        border: 1px solid #428BCA;
        box-shadow: 0px 0px 10px 2px rgba(135, 135, 135, 0.06);
        border-radius: 6px;
        padding: 3rem 13.89rem 3.8rem 4.3rem;
        @media (max-width: $sw-md-max) {
            padding: 3rem 3rem 3.8rem 3rem;
        }
        @media (max-width: $sw-xx-max) {
            padding: 2.2rem;
        }
    }
    &__line {
        width: 100%;
        display: flex;
        align-items: center;
        @media (max-width: $sw-xx-max) {
            flex-wrap: wrap;
        }
        &:not(:last-child) {
            margin-bottom: 3rem;
        }
        &__descr {
            width: calc(100% - 30.2rem);
            margin-right: 3.2rem;
            @media (max-width: $sw-xx-max) {
                width: 100%;
                margin-right: 0;
                margin-bottom: 8px;
            }
        }
        &__title {
            font-size: 1.8rem;
            line-height: 1.33em;
            color: #373A3C;
            display: block;
            width: 100%;
            &--secondary {
                padding-left: 2.7rem;
                @media (max-width: $sw-sm-max) {
                    padding-left: 1.2rem;
                }
                @media (max-width: $sw-xs-max) {
                    padding-left: 0;
                }
            }
            .label-optional {
                margin-left: 1rem;
                font-size: 1.4rem;
                line-height: 1.7em;
                color: rgba(0,0,0,.4);
            }
        }
        &__subtitle {
            font-size: 1.2rem;
            line-height: 1.08em;
            display: block;
            width: 100%;
            color: #2D2D2D;
            margin-bottom: -2.3rem;
            @media (max-width: $sw-xx-max) {
                margin: 6px 0;
            }
        }
        &__field {
            width: 26.7rem;
            flex-shrink: 0;
            @media (max-width: $sw-xx-max) {
                width: 100%;
            }
        }
    }
    &__add-employment {
        background-color: $blue;
        padding: 3.8rem 4rem 4.8rem 4rem;
        border-radius: 6px;
        margin-top: 3.2rem;
        @media (max-width: $sw-md-max) {
            padding: 2.5rem 3rem 3.5rem 3rem;
        }
        &__title {
            display: block;
            width: 100%;
            font-size: 2rem;
            line-height: 1.2em;
            color: $white;
            margin-bottom: 2.4rem;
            font-weight: 600;
            @media (max-width: $sw-md-max) {
                font-size: 1.8rem;
            }
            @media (max-width: $sw-xx-max) {
                font-size: 2rem;
            }
        }
        .form-control {
            padding: 0 1rem !important;
        }
        .page-form__line__field {
            width: 24.6rem;
            margin-right: 3rem;
            flex-shrink: unset;
            @media (max-width: $sw-xx-max) {
                width: 1090%;
                margin-right: 0;
                margin-bottom: 1.2rem;
            }
        }
    }
    &__employment-group {
        margin-bottom: 2.5rem;
        &.is-inited {
            .page-form__employment-group__actions {
                display: flex;
            }
            .page-form__article__top {
                padding-left: 1rem;
            }
        }
        &.is-collapsed {
            .page-form__employment-group__toggler {
                background-color: #cad8e4;
                &__icon {
                    .icon-chevron {
                        transform: translate(-50%,-50%) rotate(0deg);
                    }
                }
            }
        }
        &:only-of-type {
            .page-form__employment-group__actions {
                display: none;
            }
            .page-form__employment-group__inner {
                display: block !important;
            }
        }
        &__actions {
            display: none;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 2rem;
        }
        &__toggler {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 1.6rem;
            line-height: 1.4em;
            font-weight: 600;
            border: 1px solid #EDEDED;
            border-radius: 1rem;
            color: $dark;margin-right: 2rem;
            transition: background-color .3s ease;
            background-color: #eaedf0;
            padding: 8px 1rem;
            &__icon {
                width: 2rem;
                height: 2rem;
                font-size: 1.2rem;
                position: relative;
                .icon-chevron {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%) rotate(180deg);
                    transition: transform .3s ease;
                }
            }
        }
        &__remove {
            width: 4rem;
            height: 4rem;
            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: transparent;
            transition: background-color .3s ease;
            cursor: pointer;
            &:hover {
                @media (min-width: $sw-sm-min) {
                    background-color: #eaedf0;
                }
            }
        }
    }
}

.form-control {
    height: 4rem;
    padding: 0 1rem;
    background-color: $white;
    border: 1px solid #D7D7D7;
    border-radius: 4px;
    transition: border-color .3s ease;
    outline: none;
    box-shadow: none;
    font-size: 1.8rem;
    line-height: 1em;
    color: $dark !important;
    font-family: $ssp;
    &:focus {
        outline: none;
        box-shadow: none;
        border-color: $blue;
        @include placeholder {
            opacity: 0;
        }
    }
    &[readonly] {
        background-color: $white;
    }
    @include placeholder {
        font-size: 1.6rem;
        line-height: 1em;
        color: rgba($dark, 0.6);
        opacity: 1;
        transition: opacity .3s ease;
    }
    &-radio {
        opacity: 0;
        visibility: hidden;
        width: 0;
        height: 0;
        position: absolute;
        left: -99999em;
        top: -99999em;
        &:checked {
            & + .form-control-radio-label {
                .form-control-radio-label__circle:after {
                    transform: translate(-50%,-50%) scale(1);
                }
            }
        }
    }
    &-radio-label {
        cursor: pointer;
        display: flex;
        margin: 0 3rem 0 0;
        align-items: center;
        justify-content: flex-start;
        font-size: 1.6em;
        line-height: 1.55em;
        color: #373A3C;
        &__circle {
            width: 2.4rem;
            height: 2.4rem;
            border-radius: 50%;
            background-color: $white;
            border: 1px solid #CCCCCC;
            box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.1);
            position: relative;
            margin-right: 9px;
            &:after {
                content: '';
                display: block;
                width: 1.6rem;
                height: 1.6rem;
                border-radius: 50%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%) scale(0);
                background-color: #8C8989;
                transition: transform .3s ease;
            }
        }
    }
    &--select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }
    &--datepicker {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }
}

.input-wrap {
    position: relative;
    display: flex;
    align-items: center;
    &__mask {
        width: 2.5rem;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.8rem;
        line-height: 1em;
        color: #373A3C;
    }
    &-select {
        position: relative;
        &:after {
            content: '';
            display: block;
            width: 8px;
            height: 8px;
            background-image: url('../../s/images/useful/svg/icon-triangle.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 1.3rem;
            z-index: 2;
        }
    }
    &-datepicker {
        position: relative;
        background-color: $white;
        z-index: 1;
        &:after {
            content: '';
            display: block;
            width: 2.6rem;
            height: 2.4rem;
            background-image: url('../../s/images/useful/svg/datepicker.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 8px;
            z-index: -1;
        }
        .form-control {
            background-color: transparent;
            z-index: 2;
        }
    }
}