extends _includes/_extends/main-page

include _includes/components/welcome-section/welcome-section
include _includes/components/select-tax/select-tax


block head
	+head({'title':'Poss feel for "titles" of tax years'})

block header
	+header()

block content
	+welcome-section()
	+select-tax()