button{
    display: inline-block;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: transparent;
    outline: none;
    box-shadow: none;
    border: none;
    cursor: pointer;
    &:focus {
        outline: none;
        box-shadow: none;
    }
}

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    outline: none;
    box-shadow: none;
    border: none;
    transition: background-color .3s ease, color .3s ease;
    font-size: 1.4rem;
    line-height: 1;
    border-radius: 1.6rem;
    height: 5.2rem;
    border-radius: 4px;
    &:focus {
        outline: none;
        box-shadow: none;
    }
    &--bordered {
        background-color: $white;
        border: 1px solid #396FAB;
        color: #396FAB;
        font-size: 2rem;
        line-height: 1em;
        padding: 0 1.7rem;
        &:not([disabled]):hover {
            @media (min-width: $sw-sm-min) {
                background-color: #396FAB;
                color: $white;
            }
        }
        &:not([disabled]):active {
            background-color: darken(#396FAB, 4%);
        }
    }
    &--filled {
        background-color: #396FAB;
        border: 1px solid #165D9F;
        color: $white !important;
        &:not([disabled]):hover {
            @media (min-width: $sw-sm-min) {
                background-color: lighten(#396FAB, 5%);
            }
        }
        &:not([disabled]):active {
            background-color: lighten(#396FAB, 8%);
        }
        &[disabled] {
            background-color: #CCCCCC;
            border-color: #CCCCCC;
            cursor: default;
        }
    }
    &--xs {
        height: 3.5rem;
        font-size: 1.6rem;
        line-height: 1em;
    }
    &--md {
        font-size: 2rem;
        line-height: 1em;
        padding: 0 1.7rem;
    }
    &--green {
        padding: 0 1.2rem;
        text-align: center;
        background-color: #39ABA4;
        border: 1px solid #39ABA4;
        color: $white !important;
        &:not([disabled]):hover {
            @media (min-width: $sw-sm-min) {
                background-color: lighten(#39ABA4, 5%);
            }
        }
        &:not([disabled]):active {
            background-color: lighten(#39ABA4, 8%);
        }
    }
    &--gray {
        height: 3.6rem;
        background-color: #F0F8FF;
        border: 1px solid #F0F8FF;
        box-shadow: 0px 0px 10px 2px rgba(135, 135, 135, 0.06);
        border-radius: 6px;
        padding: 0 8px;
        font-weight: 600;
        color: #428BCA !important;
        &:not([disabled]):hover {
            @media (min-width: $sw-sm-min) {
                background-color: darken(#F0F8FF, 3%);
            }
        }
        &:not([disabled]):active {
            background-color: darken(#F0F8FF, 6%);
        }
    }
}