.employment {
    &-section {
        margin-bottom: 10rem;
        @media (max-width: $sw-sm-max) {
            margin-bottom: 7rem;
        }
        .page-title {
            padding: 4.4rem 0 4rem 0;
            @media (max-width: $sw-sm-max) {
                padding: 4rem 0 2.5rem 0;
            }
            @media (max-width: $sw-xx-max) {
                text-align: center;
                padding: 2.8rem 0 1.8rem 0;
            }
        }
        .page-form {
            &__group {
                padding: 3rem 10.8rem 3.8rem 4rem;
                @media (max-width: $sw-md-max) {
                    padding: 3rem 3rem 3.8rem 3rem;
                }
                @media (max-width: $sw-xx-max) {
                    padding: 2.3rem 2.3rem 3.8rem 2.3rem;
                }
            }
            &__line {
                &__descr {
                    width: calc(100% - 24.6rem);
                    @media (max-width: $sw-xx-max) {
                        width: 100%;
                    }
                }
            }
        }
        .form-control {
            padding: 0 1rem 0 2.5rem;
        }
    }
    &-inner {
        display: flex;
        justify-content: space-between;
        background-color: $white;
        border: 1px solid #ECECEC;
        box-shadow: 0px 0px 10px 2px rgba(135, 135, 135, 0.06);
        padding: 4rem 3rem 4.7rem 3rem;
        @media (max-width: $sw-sm-max) {
            padding: 3.5rem;
            flex-wrap: wrap;
        }
        @media (max-width: $sw-xx-max) {
            padding: 0;
            border: none;
            box-shadow: none;
        }
    }
    &-aside {
        width: 36.3rem;
        @media (max-width: $sw-md-max) {
            width: 34rem;
        }
        @media (max-width: $sw-sm-max) {
            width: 100%;    
            margin-bottom: 3rem;
        }
    }
    &-content {
        width: 92.7rem;
        @media (max-width: $sw-md-max) {
            width: 72.9rem;
        }
        @media (max-width: $sw-sm-max) {
            width: 100%;
        }
    }

    // unfiled block styles
    &-unfiled {
        background: $white;
        border: 1px solid #D0D0D0;
        border-radius: 1rem;
        padding: 1.4rem 1.4rem 2rem 1.4rem;
        margin-bottom: 4rem;
        @media (max-width: $sw-sm-max) {
            margin-bottom: 3rem;
        }
        &__title {
            font-size: 1.8rem;
            line-height: 1.4em;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            color: $dark;
            margin-bottom: 2px;
            .icon-question {
                font-size: 2.4rem;
                margin-right: 8px;
            }
        }
        &__subtitle {
            padding-left: 3.3rem;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            font-size: 1.4rem;
            line-height: 1.8em;
            color: $dark;
            @media (max-width: $sw-xx-max) {
                padding-left: 0;
            }
            &__date {
                margin-left: 1.3rem;
                font-weight: 600;
            }
        }
        &__action {
            margin: 1.8rem auto 0 auto;
            font-weight: 600;
            font-size: 1.4rem;
            line-height: 1em;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #428BCA;
            height: 3.6rem;
            padding: 0 7px 0 9px;
            cursor: pointer;
            background: #F0F8FF;
            border: 1px solid #428BCA;
            box-shadow: 0px 0px 10px 2px rgba(135, 135, 135, 0.06);
            border-radius: 6px;
            transition: background-color .3s ease, color .3s ease, border-color .3s ease;
            @media (max-width: $sw-sm-max) {
                justify-content: flex-start;
                margin: 1.5rem 0 0 1rem;
            }
            @media (max-width: $sw-xx-max) {
                margin: 1.5rem 0 0 0;
                text-align: left;
            }
            &:hover {
                @media (min-width: $sw-sm-min) {
                    background: darken(#F0F8FF, 5%);
                    .icon-arrow {
                        transform: translateX(2px);
                    }
                }
            }
            &:active {
                background: darken(#F0F8FF, 7%);
            }
            .icon-arrow {
                transition: transform .3s ease;
                font-size: 9px;
                margin-left: 5px;
            }
        }
    }

    // mobile menu
    &-subs-mobile {
        display: none;
        @media (max-width: $sw-xx-max) {
            display: block;
        }
        .employment-menu__sublist {
            background-color: #FBFAFC;
            border: 1px solid #D0D0D0;
            border-radius: 10px;
        }
    }

    // menu styles
    &-menu {
        border: 1px solid #D0D0D0;
        background-color: #FBFAFC;
        border-radius: 1rem;
        @media (max-width: $sw-xx-max) {
            border-radius: 0;
            background-color: transparent;
            border: none;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        .employment-menu__sublist {
            @media (max-width: $sw-xx-max) {
                display: none !important;
            }
        }
        &__item {
            background-color: #FBFAFC;
            transition: background-color .3s ease;
            cursor: pointer;
            align-items: center;
            justify-content: space-between;
            @media (max-width: $sw-xx-max) {
                width: calc(50% - 1rem);
                background-color: #FBFAFC;
                border: 1px solid #D0D0D0;
                border-radius: 1rem;
                position: relative;
                margin-bottom: 2rem;
                padding: 0;
            }
            &:first-child {
                border-radius: 1rem 1rem 0 0;
                @media (max-width: $sw-xx-max) {
                    border-radius: 1rem;
                }
            }
            &:last-child {
                border-radius: 0 0 1rem 1rem;
                @media (max-width: $sw-xx-max) {
                    border-radius: 1rem;
                }
            }
            &:not(:last-child) {
                border-bottom: 1px solid #EDEDED;
                @media (max-width: $sw-xx-max) {
                    border-bottom: 1px solid #D0D0D0;
                }
            }
            &.is-opened {
                .employment-menu__item__arrow {
                    transform: rotate(180deg);
                }
                .employment-menu__item__name {
                    color: #428BCA;
                }
            }
            &__inner {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                height: 7rem;
                padding: 0 1.8rem 0 3.1rem;
                @media (max-width: $sw-md-max) {
                    padding: 0 1.8rem;
                }
                @media (max-width: $sw-sm-max) {
                    padding: 0 1.3rem;
                    height: 6rem;
                }
                @media (max-width: $sw-xx-max) {
                    height: auto;
                    padding: 2rem 1.5rem 1.6rem 1.5rem;
                }
                &:hover {
                    @media (min-width: $sw-sm-min) {
                        .employment-menu__item__name {
                            color: #428BCA;
                        }
                    }
                }
            }
            &__side {
                display: flex;
                align-items: center;
                &:first-child {
                    @media (max-width: $sw-xx-max) {
                        width: 100%;
                        flex-wrap: wrap;
                    }
                }
                &:last-child {
                    @media (max-width: $sw-xx-max) {
                        position: absolute;
                        top: 1.3rem;
                        right: 2rem;
                    }
                }
            }
            &__icon {
                width: 2.4rem;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 1.2rem;
                @media (max-width: $sw-sm-max) {
                    width: 2.2rem;
                    margin-right: 1rem;
                }
                @media (max-width: $sw-xx-max) {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    margin-bottom: 1rem;
                }
                .icon {
                    &-list {
                        font-size: 2.4rem;
                        @media (max-width: $sw-sm-max) {
                            font-size: 2rem;
                        }
                        @media (max-width: $sw-xx-max) {
                            font-size: 3rem;
                        }
                    }
                    &-person {
                        font-size: 2.4rem;
                        @media (max-width: $sw-sm-max) {
                            font-size: 2.2rem;
                        }
                        @media (max-width: $sw-xx-max) {
                            font-size: 3rem;
                        }
                    }
                    &-case {
                        font-size: 2rem;
                        @media (max-width: $sw-sm-max) {
                            font-size: 1.8rem;
                        }
                        @media (max-width: $sw-xx-max) {
                            font-size: 3rem;
                        }
                    }
                    &-location {
                        font-size: 2.2rem;
                        @media (max-width: $sw-sm-max) {
                            font-size: 2rem;
                        }
                        @media (max-width: $sw-xx-max) {
                            font-size: 3rem;
                        }
                    }
                    &-handshake {
                        font-size: 2.4rem;
                        @media (max-width: $sw-sm-max) {
                            font-size: 2.2rem;
                        }
                        @media (max-width: $sw-xx-max) {
                            font-size: 3rem;
                        }
                    }
                }
            }
            &__name {
                font-weight: 600;
                font-size: 1.8rem;
                line-height: 1em;
                color: #6B7074;
                transition: color .3s ease;
                @media (max-width: $sw-sm-max) {
                    font-size: 1.6rem;
                }
                @media (max-width: $sw-xx-max) {
                    font-size: 1.8rem;
                    text-align: center;
                    width: 100%;
                }
            }
            &__progress {
                width: 2.4rem;
                height: 2.4rem;
                margin-right: 2.4rem;
                @media (max-width: $sw-sm-max) {
                    margin-right: 1.4rem;
                }
                @media (max-width: $sw-xx-max) {
                    margin-right: 0;
                    width: 1.8rem;
                    height: 1.8rem;
                }
            }
            &__chart {
                width: 2.4rem;
                height: 2.4rem;
                @media (max-width: $sw-xx-max) {
                    width: 1.8rem;
                    height: 1.8rem;
                }
            }
            &__arrow {
                transition: transform .3s ease;
                transform: none;
                @media (max-width: $sw-xx-max) {
                    display: none;
                }
                .icon-chevron {
                    font-size: 8px;
                    color: $black;
                }
            }
        }
        &__sublist {
            display: none;
            &__item {
                width: 100%;
                cursor: pointer;
                @media (max-width: $sw-xx-max) {
                    display: flex;
                    flex-wrap: wrap;
                }
                &:not(:last-child) {
                    margin-bottom: 2rem;
                    @media (max-width: $sw-sm-max) {
                        margin-bottom: 1rem;
                    }
                    @media (max-width: $sw-xx-max) {
                        margin-bottom: 0;
                    }
                }
                &:last-child {
                    .employment-menu__sublist__item__inner {
                        border-color: transparent;
                        @media (max-width: $sw-xx-max) {
                            margin-bottom: 0;
                        }
                    }
                }
                &.is-opened {
                    .employment-menu__sublist__item__inner {
                        border-color: #EDEDED;
                    }
                    .employment-menu__sublist__item__arrow {
                        transform: rotate(180deg);
                    }
                    .employment-menu__submenu {
                        border-color: transparent;
                        @media (max-width: $sw-xx-max) {
                            border-color: #EDEDED;
                        }
                    }
                }
                &__inner {
                    margin-left: 8.3rem;
                    display: flex;
                    align-items: flex-start;
                    justify-content: flex-start;
                    width: auto;
                    padding: 0 0 1rem 0;
                    margin-bottom: 12px;
                    border-bottom: 1px solid #EDEDED;
                    transition: border-color .3s ease;
                    @media (max-width: $sw-md-max) {
                        margin-left: 6.5rem;
                    }
                    @media (max-width: $sw-sm-max) {
                        margin-left: 5.5rem;
                    }
                    @media (max-width: $sw-xx-max) {
                        margin-left: 0;
                        margin-bottom: 0;
                        width: 100%;
                        padding: 1.5rem 1rem;
                        justify-content: space-between;
                    }
                    &.js-submenu-trigger {
                        padding: 0;
                        height: 4.2rem;
                        margin-bottom: 7px;
                        @media (max-width: $sw-sm-max) {
                            height: 3.6rem;
                        }
                        @media (max-width: $sw-xx-max) {
                            height: auto;
                            margin-bottom: 0;
                            padding: 1.5rem 1rem;
                        }
                    }
                }
                &__arrow {
                    transition: transform .3s ease;
                    transform: none;
                    .icon-chevron {
                        font-size: 8px;
                        color: $black;
                    }
                }
                &__name {
                    font-weight: 600;
                    font-size: 1.8rem;
                    line-height: 1em;
                    color: #6B7074;
                    min-width: 11.1rem;
                    margin-right: 1.6rem;
                    @media (max-width: $sw-sm-max) {
                        font-size: 1.6rem;
                        margin-right: 1.2rem;
                    }
                    @media (max-width: $sw-xx-max) {
                        min-width: auto;
                    }
                }
            }
        }
        &__submenu {
            margin-left: 11.3rem;
            padding-bottom: 1rem;
            border-bottom: 1px solid #EDEDED;
            transition: border-color .3s ease;
            display: none;
            @media (max-width: $sw-md-max) {
                margin-left: 9.3rem;
            }
            @media (max-width: $sw-sm-max) {
                margin-left: 7.8rem;
            }
            @media (max-width: $sw-xx-max) {
                margin-left: 0;
                padding-bottom: 0;
                width: 100%;
            }
            &__item {
                display: flex;
                align-items: center;
                font-size: 1.8rem;
                line-height: 1.33em;
                display: flex;
                align-items: center;
                color: #6B7074;
                padding: 9px 8px 9px 0;
                position: relative;
                @media (max-width: $sw-sm-max) {
                    font-size: 1.6rem;
                }
                @media (max-width: $sw-xx-max) {
                    padding: 1rem 1rem 1rem 3rem;
                }
                &:hover {
                    @media (min-width: $sw-sm-min) {
                        color: $blue;
                        &:before {
                            transform: translateX(-3px);
                            background-color: $blue;
                        }
                    }
                }
                &:not(:last-child) {
                    border-bottom: 1px solid #EDEDED;
                }
                &:before {
                    content: '';
                    display: block;
                    width: 8px;
                    height: 8px;
                    position: absolute;
                    top: 1.8rem;
                    left: -1.8rem;
                    border-radius: 50%;
                    background-color: #C4C4C4;
                    transform: none;
                    transition: background-color .3s ease, transform .3s ease;
                    @media (max-width: $sw-sm-max) {
                        top: 1.7rem;
                        left: -1.4rem;
                        width: 6px;
                        height: 6px;
                    }
                    @media (max-width: $sw-xx-max) {
                        left: 1.2rem;
                    }
                }
            }
        }
    }
}