mixin employment(data)
	section.employment-section
		.container
			.page-title
				h2 Self Assessment for Tax Year 2020/21
			.employment-inner
				aside.employment-aside
					.employment-unfiled
						.employment-unfiled__title
							+svg('icon-question')
							span Unfiled
						.employment-unfiled__subtitle
							span HMRC online filing deadline
							span.employment-unfiled__subtitle__date 31 Jan 22
						button.employment-unfiled__action(type="button") Find out more about filing Self Assessment  #[+svg('icon-arrow')]
					.employment-menu
						.employment-menu__item.employment-menu__box(data-menu="main_return")
							.employment-menu__item__inner.js-sublist-trigger
								.employment-menu__item__side
									.employment-menu__item__icon
										+svg('icon-list')
									span.employment-menu__item__name Main Return
								.employment-menu__item__side
									.employment-menu__item__progress
										.employment-menu__item__chart#progress_main_return
										input(type="hidden", id="#progress_main_return_trigger", value="50")
									.employment-menu__item__arrow
										+svg('icon-chevron')
							.employment-menu__sublist(data-sublist="main_return")
								.employment-menu__sublist__item 
									.employment-menu__sublist__item__inner
										a.employment-menu__sublist__item__name(href="javascript:void(0)") Personal Details
								.employment-menu__sublist__item
									.employment-menu__sublist__item__inner
										a.employment-menu__sublist__item__name(href="javascript:void(0)") Address
								.employment-menu__sublist__item
									.employment-menu__sublist__item__inner
										a.employment-menu__sublist__item__name(href="javascript:void(0)") Other Details
						.employment-menu__item.employment-menu__box(data-menu="residency")
							.employment-menu__item__inner.js-sublist-trigger
								.employment-menu__item__side
									.employment-menu__item__icon
										+svg('icon-location')
									span.employment-menu__item__name Residency
								.employment-menu__item__side
									.employment-menu__item__progress
										.employment-menu__item__chart#progress_residency
										input(type="hidden", id="#progress_residency_trigger", value="40")
									.employment-menu__item__arrow
										+svg('icon-chevron')
							.employment-menu__sublist(data-sublist="residency")
								.employment-menu__sublist__item 
									.employment-menu__sublist__item__inner
										a.employment-menu__sublist__item__name(href="javascript:void(0)") Personal Details
								.employment-menu__sublist__item
									.employment-menu__sublist__item__inner
										a.employment-menu__sublist__item__name(href="javascript:void(0)") Address
								.employment-menu__sublist__item
									.employment-menu__sublist__item__inner
										a.employment-menu__sublist__item__name(href="javascript:void(0)") Other Details
						.employment-menu__item.employment-menu__box(data-menu="employment")
							.employment-menu__item__inner.js-sublist-trigger
								.employment-menu__item__side
									.employment-menu__item__icon
										+svg('icon-case')
									span.employment-menu__item__name Employment
								.employment-menu__item__side
									.employment-menu__item__progress
										.employment-menu__item__chart#progress_employment
										input(type="hidden", id="#progress_employment_trigger", value="50")
									.employment-menu__item__arrow
										+svg('icon-chevron')
							.employment-menu__sublist(data-sublist="employment")
								.employment-menu__sublist__item 
									.employment-menu__sublist__item__inner.js-submenu-trigger
										span.employment-menu__sublist__item__name Lloyds Bank
										.employment-menu__sublist__item__arrow
											+svg('icon-chevron')
									.employment-menu__submenu
										a.employment-menu__submenu__item(href="javascript:void(0)") Income for GPUK
										a.employment-menu__submenu__item(href="javascript:void(0)") Class 4 National Insurance
										a.employment-menu__submenu__item(href="javascript:void(0)") Benefits from Employment
										a.employment-menu__submenu__item(href="javascript:void(0)") Employment Expenses
								.employment-menu__sublist__item
									.employment-menu__sublist__item__inner.js-submenu-trigger
										span.employment-menu__sublist__item__name Barclays Bank
										.employment-menu__sublist__item__arrow
											+svg('icon-chevron')
									.employment-menu__submenu
										a.employment-menu__submenu__item(href="javascript:void(0)") Income for GPUK
										a.employment-menu__submenu__item(href="javascript:void(0)") Class 4 National Insurance
										a.employment-menu__submenu__item(href="javascript:void(0)") Benefits from Employment
										a.employment-menu__submenu__item(href="javascript:void(0)") Employment Expenses
						.employment-menu__item.employment-menu__box(data-menu="self_employment")
							.employment-menu__item__inner.js-sublist-trigger
								.employment-menu__item__side
									.employment-menu__item__icon
										+svg('icon-person')
									span.employment-menu__item__name Self-Employement
								.employment-menu__item__side
									.employment-menu__item__progress
										.employment-menu__item__chart#progress_self_employment
										input(type="hidden", id="#progress_self_employment_trigger", value="70")
									.employment-menu__item__arrow
										+svg('icon-chevron')
							.employment-menu__sublist(data-sublist="self_employment")
								.employment-menu__sublist__item 
									.employment-menu__sublist__item__inner
										a.employment-menu__sublist__item__name(href="javascript:void(0)") Business details
								.employment-menu__sublist__item
									.employment-menu__sublist__item__inner
										a.employment-menu__sublist__item__name(href="javascript:void(0)") Other information
								.employment-menu__sublist__item
									.employment-menu__sublist__item__inner
										a.employment-menu__sublist__item__name(href="javascript:void(0)") Business income
								.employment-menu__sublist__item
									.employment-menu__sublist__item__inner
										a.employment-menu__sublist__item__name(href="javascript:void(0)") Business expenses
								.employment-menu__sublist__item
									.employment-menu__sublist__item__inner
										a.employment-menu__sublist__item__name(href="javascript:void(0)") Net profit or loss
								.employment-menu__sublist__item
									.employment-menu__sublist__item__inner
										a.employment-menu__sublist__item__name(href="javascript:void(0)") Tax allowances
								.employment-menu__sublist__item
									.employment-menu__sublist__item__inner
										a.employment-menu__sublist__item__name(href="javascript:void(0)") Calculating your taxable profit or loss
								.employment-menu__sublist__item
									.employment-menu__sublist__item__inner
										a.employment-menu__sublist__item__name(href="javascript:void(0)") Calculating your taxable profit or loss
								.employment-menu__sublist__item
									.employment-menu__sublist__item__inner
										a.employment-menu__sublist__item__name(href="javascript:void(0)") Losses
								.employment-menu__sublist__item
									.employment-menu__sublist__item__inner
										a.employment-menu__sublist__item__name(href="javascript:void(0)") CIS deductions and tax taken off
								.employment-menu__sublist__item
									.employment-menu__sublist__item__inner
										a.employment-menu__sublist__item__name(href="javascript:void(0)") Balance sheet
								.employment-menu__sublist__item
									.employment-menu__sublist__item__inner
										a.employment-menu__sublist__item__name(href="javascript:void(0)") Class 2 and Class 4 NIC
								.employment-menu__sublist__item
									.employment-menu__sublist__item__inner
										a.employment-menu__sublist__item__name(href="javascript:void(0)") Any other information
						.employment-menu__item.employment-menu__box(data-menu="partnership")
							.employment-menu__item__inner.js-sublist-trigger
								.employment-menu__item__side
									.employment-menu__item__icon
										+svg('icon-handshake')
									span.employment-menu__item__name Partnership
								.employment-menu__item__side
									.employment-menu__item__progress
										.employment-menu__item__chart#progress_partnership
										input(type="hidden", id="#progress_partnership_trigger", value="30")
									.employment-menu__item__arrow
										+svg('icon-chevron')
							.employment-menu__sublist(data-sublist="partnership")
								.employment-menu__sublist__item 
									.employment-menu__sublist__item__inner
										a.employment-menu__sublist__item__name(href="javascript:void(0)") Personal Details
								.employment-menu__sublist__item
									.employment-menu__sublist__item__inner
										a.employment-menu__sublist__item__name(href="javascript:void(0)") Address
								.employment-menu__sublist__item
									.employment-menu__sublist__item__inner
										a.employment-menu__sublist__item__name(href="javascript:void(0)") Other Details
					.employment-subs-mobile
						.employment-menu__box(data-menu="main_return")
							.employment-menu__sublist(data-sublist="main_return")
								.employment-menu__sublist__item 
									.employment-menu__sublist__item__inner
										a.employment-menu__sublist__item__name(href="javascript:void(0)") Personal Details
								.employment-menu__sublist__item
									.employment-menu__sublist__item__inner
										a.employment-menu__sublist__item__name(href="javascript:void(0)") Address
								.employment-menu__sublist__item
									.employment-menu__sublist__item__inner
										a.employment-menu__sublist__item__name(href="javascript:void(0)") Other Details
						.employment-menu__box(data-menu="residency")
							.employment-menu__sublist(data-sublist="residency")
								.employment-menu__sublist__item 
									.employment-menu__sublist__item__inner
										a.employment-menu__sublist__item__name(href="javascript:void(0)") Personal Details
								.employment-menu__sublist__item
									.employment-menu__sublist__item__inner
										a.employment-menu__sublist__item__name(href="javascript:void(0)") Address
								.employment-menu__sublist__item
									.employment-menu__sublist__item__inner
										a.employment-menu__sublist__item__name(href="javascript:void(0)") Other Details
						.employment-menu__box(data-menu="employment")
							.employment-menu__sublist(data-sublist="employment")
								.employment-menu__sublist__item 
									.employment-menu__sublist__item__inner.js-submenu-trigger
										span.employment-menu__sublist__item__name Lloyds Bank
										.employment-menu__sublist__item__arrow
											+svg('icon-chevron')
									.employment-menu__submenu
										a.employment-menu__submenu__item(href="javascript:void(0)") Income for GPUK
										a.employment-menu__submenu__item(href="javascript:void(0)") Class 4 National Insurance
										a.employment-menu__submenu__item(href="javascript:void(0)") Benefits from Employment
										a.employment-menu__submenu__item(href="javascript:void(0)") Employment Expenses
								.employment-menu__sublist__item
									.employment-menu__sublist__item__inner.js-submenu-trigger
										span.employment-menu__sublist__item__name Barclays Bank
										.employment-menu__sublist__item__arrow
											+svg('icon-chevron')
									.employment-menu__submenu
										a.employment-menu__submenu__item(href="javascript:void(0)") Income for GPUK
										a.employment-menu__submenu__item(href="javascript:void(0)") Class 4 National Insurance
										a.employment-menu__submenu__item(href="javascript:void(0)") Benefits from Employment
										a.employment-menu__submenu__item(href="javascript:void(0)") Employment Expenses
						.employment-menu__box(data-menu="self_employment")
							.employment-menu__sublist(data-sublist="self_employment")
								.employment-menu__sublist__item 
									.employment-menu__sublist__item__inner
										a.employment-menu__sublist__item__name(href="javascript:void(0)") Business details
								.employment-menu__sublist__item
									.employment-menu__sublist__item__inner
										a.employment-menu__sublist__item__name(href="javascript:void(0)") Other information
								.employment-menu__sublist__item
									.employment-menu__sublist__item__inner
										a.employment-menu__sublist__item__name(href="javascript:void(0)") Business income
								.employment-menu__sublist__item
									.employment-menu__sublist__item__inner
										a.employment-menu__sublist__item__name(href="javascript:void(0)") Business expenses
								.employment-menu__sublist__item
									.employment-menu__sublist__item__inner
										a.employment-menu__sublist__item__name(href="javascript:void(0)") Net profit or loss
								.employment-menu__sublist__item
									.employment-menu__sublist__item__inner
										a.employment-menu__sublist__item__name(href="javascript:void(0)") Tax allowances
								.employment-menu__sublist__item
									.employment-menu__sublist__item__inner
										a.employment-menu__sublist__item__name(href="javascript:void(0)") Calculating your taxable profit or loss
								.employment-menu__sublist__item
									.employment-menu__sublist__item__inner
										a.employment-menu__sublist__item__name(href="javascript:void(0)") Calculating your taxable profit or loss
								.employment-menu__sublist__item
									.employment-menu__sublist__item__inner
										a.employment-menu__sublist__item__name(href="javascript:void(0)") Losses
								.employment-menu__sublist__item
									.employment-menu__sublist__item__inner
										a.employment-menu__sublist__item__name(href="javascript:void(0)") CIS deductions and tax taken off
								.employment-menu__sublist__item
									.employment-menu__sublist__item__inner
										a.employment-menu__sublist__item__name(href="javascript:void(0)") Balance sheet
								.employment-menu__sublist__item
									.employment-menu__sublist__item__inner
										a.employment-menu__sublist__item__name(href="javascript:void(0)") Class 2 and Class 4 NIC
								.employment-menu__sublist__item
									.employment-menu__sublist__item__inner
										a.employment-menu__sublist__item__name(href="javascript:void(0)") Any other information
						.employment-menu__box(data-menu="partnership")
							.employment-menu__sublist(data-sublist="partnership")
								.employment-menu__sublist__item 
									.employment-menu__sublist__item__inner
										a.employment-menu__sublist__item__name(href="javascript:void(0)") Personal Details
								.employment-menu__sublist__item
									.employment-menu__sublist__item__inner
										a.employment-menu__sublist__item__name(href="javascript:void(0)") Address
								.employment-menu__sublist__item
									.employment-menu__sublist__item__inner
										a.employment-menu__sublist__item__name(href="javascript:void(0)") Other Details
				.employment-content
					.page-form
						.page-form__article
							.page-form__article__top
								span.page-form__article__title Employment
								p.page-form__article__info If you were employed by any other business (not your self-employment) in the year to 5 April 2021, add the details here. If you had more than one employment, create a new employment section for each one.
							form.page-form__add-employment(action="javascript:void(0)")
								span.page-form__add-employment__title Add an additional employment:
								.page-form__line
									.page-form__line__field
										.input-wrap
											input.form-control(type="text", placeholder="Employment name")
									button.btn.btn--gray(type="submit") Add Employment
					form.page-form(action="javascript:void(0)")
						.page-form__employment-group
							.page-form__employment-group__actions
								button.page-form__employment-group__toggler(type="button") 
									span Employment group
									span.page-form__employment-group__toggler__icon
										+svg('icon-chevron')
								button.page-form__employment-group__remove(type="button") 
									+svg('icon-close')
							.page-form__employment-group__inner
								.page-form__article
									.page-form__article__top
										span.page-form__article__title Income for GPUK
									.page-form__group
										.page-form__line
											.page-form__line__descr
												span.page-form__line__title Pay from GPUK 
											.page-form__line__field
												.input-wrap
													.input-wrap__mask
														span £
													input.form-control(type="text")
										.page-form__line
											.page-form__line__descr
												span.page-form__line__title Tax taken off pay from GPUK
											.page-form__line__field
												.input-wrap
													.input-wrap__mask
														span £
													input.form-control(type="text")
										.page-form__line
											.page-form__line__descr
												span.page-form__line__title Tips and other payments not on your P60
											.page-form__line__field
												.input-wrap
													.input-wrap__mask
														span £
													input.form-control(type="text")
										.page-form__line
											.page-form__line__descr
												span.page-form__line__title Employer's PAYE tax reference (on your P45/P60)
											.page-form__line__field
												.input-wrap
													input.form-control(type="text")
										.page-form__line
											.page-form__line__descr
												span.page-form__line__title Employer's name 
											.page-form__line__field
												.input-wrap
													input.form-control(type="text")
										.page-form__line
											.page-form__line__descr
												span.page-form__line__title Were you a company director?
											.page-form__line__field
												.input-wrap
													input.form-control-radio(type="radio", name="company_director", id="cd_yes", checked="")
													label.form-control-radio-label(for="cd_yes")
														span.form-control-radio-label__circle
														span Yes
													input.form-control-radio(type="radio", name="company_director", id="cd_no")
													label.form-control-radio-label(for="cd_no")
														span.form-control-radio-label__circle
														span No
										.page-form__line
											.page-form__line__descr
												span.page-form__line__title If you ceased being a director before 6 April 2021, put the date the directorship ceased
											.page-form__line__field
												.input-wrap
													input.form-control(type="text")
										.page-form__line
											.page-form__line__descr
												span.page-form__line__title Was the company a close company?
											.page-form__line__field
												.input-wrap
													input.form-control-radio(type="radio", name="directorship_ceased", id="dc_yes", checked="")
													label.form-control-radio-label(for="dc_yes")
														span.form-control-radio-label__circle
														span Yes
													input.form-control-radio(type="radio", name="directorship_ceased", id="dc_no")
													label.form-control-radio-label(for="dc_no")
														span.form-control-radio-label__circle
														span No
										.page-form__line
											.page-form__line__descr
												span.page-form__line__title  Does your pay from GPUK include any disguised remuneration income?
											.page-form__line__field
												.input-wrap
													input.form-control-radio(type="radio", name="disguised_remuneration", id="dr_yes", checked="")
													label.form-control-radio-label(for="dr_yes")
														span.form-control-radio-label__circle
														span Yes
													input.form-control-radio(type="radio", name="disguised_remuneration", id="dr_no")
													label.form-control-radio-label(for="dr_no")
														span.form-control-radio-label__circle
														span No
								.page-form__article
									.page-form__article__top
										span.page-form__article__title Class 4 National Insurance maximum charge
										p.page-form__article__info If you're self-employed and employed, to calculate the correct Class 4 NIC liability details of your Class 1 NICs are needed.
									.page-form__group
										.page-form__line
											.page-form__line__descr
												span.page-form__line__title Class 1 from P60
											.page-form__line__field
												.input-wrap
													.input-wrap__mask
														span £
													input.form-control(type="text")
								.page-form__article
									.page-form__article__top
										span.page-form__article__title Benefits from your employment
									.page-form__group
										.page-form__line
											.page-form__line__descr
												span.page-form__line__title Did you receive any benefits from your employment?
												p.page-form__line__subtitle For example, a company car, fuel, private medical insurance or dental insurance. Take this information directlyfrom the corresponding Boxes on your P11D. If your employer didn’t give you a P11D, leave these Boxes blank.
											.page-form__line__field
												.input-wrap
													input.form-control-radio(type="radio", name="employment_benefits", id="eb_yes", checked="")
													label.form-control-radio-label(for="eb_yes")
														span.form-control-radio-label__circle
														span Yes
													input.form-control-radio(type="radio", name="employment_benefits", id="eb_no")
													label.form-control-radio-label(for="eb_no")
														span.form-control-radio-label__circle
														span No
										.page-form__line
											.page-form__line__descr
												span.page-form__line__title Company cars and vans
											.page-form__line__field
												.input-wrap
													.input-wrap__mask
														span £
													input.form-control(type="text")
										.page-form__line
											.page-form__line__descr
												span.page-form__line__title Fuel for company cars and vans
											.page-form__line__field
												.input-wrap
													.input-wrap__mask
														span £
													input.form-control(type="text")
										.page-form__line
											.page-form__line__descr
												span.page-form__line__title Private medical and dental insurance
											.page-form__line__field
												.input-wrap
													.input-wrap__mask
														span £
													input.form-control(type="text")
										.page-form__line
											.page-form__line__descr
												span.page-form__line__title Vouchers, credit cards and excess mileage allowance
											.page-form__line__field
												.input-wrap
													.input-wrap__mask
														span £
													input.form-control(type="text")
										.page-form__line
											.page-form__line__descr
												span.page-form__line__title Goods and other assets provided by your employer 
											.page-form__line__field
												.input-wrap
													.input-wrap__mask
														span £
													input.form-control(type="text")
										.page-form__line
											.page-form__line__descr
												span.page-form__line__title Accommodation provided by your employer 
											.page-form__line__field
												.input-wrap
													.input-wrap__mask
														span £
													input.form-control(type="text")
										.page-form__line
											.page-form__line__descr
												span.page-form__line__title Other benefits (including interest-free and low interest loans)
											.page-form__line__field
												.input-wrap
													.input-wrap__mask
														span £
													input.form-control(type="text")
										.page-form__line
											.page-form__line__descr
												span.page-form__line__title Expenses payments received and balancing charges
											.page-form__line__field
												.input-wrap
													.input-wrap__mask
														span £
													input.form-control(type="text")
								.page-form__article
									.page-form__article__top
										span.page-form__article__title Employment expenses
									.page-form__group
										.page-form__line
											.page-form__line__descr
												span.page-form__line__title Did you pay any business expenses yourself while doing your job?
												p.page-form__line__subtitle For example, business travel, professional fees or subscriptions.the corresponding Boxes on your P11D. If your employer didn’t give you a P11D, leave these Boxes blank.
											.page-form__line__field
												.input-wrap
													input.form-control-radio(type="radio", name="business_expenses", id="be_yes", checked="")
													label.form-control-radio-label(for="be_yes")
														span.form-control-radio-label__circle
														span Yes
													input.form-control-radio(type="radio", name="business_expenses", id="be_no")
													label.form-control-radio-label(for="be_no")
														span.form-control-radio-label__circle
														span No
										.page-form__line
											.page-form__line__descr
												span.page-form__line__title Business travel and subsistence expenses
											.page-form__line__field
												.input-wrap
													.input-wrap__mask
														span £
													input.form-control(type="text")
										.page-form__line
											.page-form__line__descr
												span.page-form__line__title Fixed deductions for expenses
											.page-form__line__field
												.input-wrap
													.input-wrap__mask
														span £
													input.form-control(type="text")
										.page-form__line
											.page-form__line__descr
												span.page-form__line__title  Professional fees and subscriptions
											.page-form__line__field
												.input-wrap
													.input-wrap__mask
														span £
													input.form-control(type="text")
										.page-form__line
											.page-form__line__descr
												span.page-form__line__title Other expenses and capital allowances
											.page-form__line__field
												.input-wrap
													.input-wrap__mask
														span £
													input.form-control(type="text")
						button.btn.btn--md.btn--filled.page-form__submit(type="submit") Save Employement