mixin header(data)
	header.header
		.container-fluid
			.header-inner
				a.header__logo(href="javascript:void(0)")
					img(src="s/images/useful/svg/logo.svg", alt="logo")
				nav.header__nav-wrap#header_navigation_menu
					.header__lang
						a.header__lang__item(href="javascript:void(0)")
							img(src="s/images/useful/england.png", alt="england")
						span.header__lang__divider
						a.header__lang__item(href="javascript:void(0)")
							img(src="s/images/useful/wales.png", alt="wales")
					ul.header__nav.h-reset-list
						li.header__nav__item.header__nav__item--sub
							a(href="javascript:void(0)")
								span Locums
								+svg('icon-chevron')
							ul.header__sublist.h-reset-list
								li.header__sublist__item
									a(href="javascript:void(0)")
										span Locums 1
								li.header__sublist__item
									a(href="javascript:void(0)")
										span Locums 2
						li.header__nav__item.header__nav__item--sub
							a(href="javascript:void(0)") 
								span Help and resources
								+svg('icon-chevron')
							ul.header__sublist.h-reset-list
								li.header__sublist__item
									a(href="javascript:void(0)") 
										span Help and resources 1
								li.header__sublist__item
									a(href="javascript:void(0)") 
										span Help and resources 2
						li.header__nav__item.header__nav__item--sub
							a(href="javascript:void(0)") 
								span Practice tools
								+svg('icon-chevron')
							ul.header__sublist.h-reset-list
								li.header__sublist__item
									a(href="javascript:void(0)") 
										span Practice tools 1
								li.header__sublist__item
									a(href="javascript:void(0)") 
										span Practice tools 2
								li.header__sublist__item
									a(href="javascript:void(0)") 
										span Practice tools 3
					.header__user-side
						a.header__user(href="javascript:void(0)")
							+svg('icon-profile')
							span.header__user__name BBP
				.header__burger
					button.header__burger-trigger.js-nav-trigger(type="button")
						+svg('icon-hamburger')
						span.header__burger-trigger__text Menu
