.header {
    background-color: $white;
    position: relative;
    z-index: 20;
    border-bottom: 1px solid #D7D7D7;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
    @media (max-width: $sw-xs-max) {
        top: 0;
        left: 0;
        width: 100%;
        position: fixed;
        box-shadow: none;
        border-bottom: 1px solid #E5E5E5;
    }
    &-inner {
        display: flex;
        align-items: center;
        height: 7.3rem;
        @media (max-width: $sw-xx-max) {
            height: 9.4rem;
        }
    }
    &__logo {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        flex-shrink: 0;
        margin-right: 6px;
        img {
            @media (max-width: $sw-xx-max) {
                height: 4.5rem; 
            }
        }
    }
    &__lang {
        display: flex;
        align-items: center;
        margin-top: 8px;
        @media (max-width: $sw-xs-max) {
            order: 2;
            width: 100%;
            margin-top: 0;
            padding: 1.5rem 1.2rem;
        }
        &__item {
            width: 3rem;
            height: 1.8rem;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                width: auto;
                height: auto;
                max-width: 100%;
                max-height: 100%;
            }
        }
        &__divider {
            display: block;
            width: 1px;
            height: 2.4rem;
            margin: 0 7px;
            background-color: $black;
            @media (max-width: $sw-xs-max) {
                margin: 0 2rem;
            }
        }
    }

    &__nav-wrap {
        width: 100%;
        height: 100%;
        z-index: 20;
        display: flex;
        align-items: center;
        @media (max-width: $sw-xs-max) {
            flex-direction: column;
            position: fixed;
            height: calc(100% - 7.4rem);
            top: 7.4rem;
            right: -32rem;
            background-color: $white;
            width: 32rem;
            transform: none;
            transition: transform .3s ease;
            overflow: hidden;
            overflow-y: auto;
            -webkit-overflow-scrolling: touch;
            box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
        }
        @media (max-width: $sw-xx-max) {
            height: calc(100% - 9.5rem);
            top: 9.5rem;
        }
        & > * {
            @media (max-width: $sw-xs-max) {
                -webkit-transform: translateZ(0px);
            }
        }
        &.nav-open {
            @media (max-width: $sw-xs-max) {
                transform: translateX(-32rem);
            }
        }
    }

    // header navigation list
    &__nav {
        height: 100%;
        display: flex;
        align-items: center;
        margin-left: auto;
        @media (max-width: $sw-xs-max) {
            display: block;
            margin-left: 0;
            width: 100%;
            height: auto;
            order: 0;
        }
        &__item {
            height: 100%;
            display: flex;
            padding: 0 1.6rem;
            @media (max-width: $sw-md-max) {
                padding: 0 1.2rem;
            }
            @media (max-width: $sw-xs-max) {
                width: 100%;
                height: auto;
                padding: 0;
                display: block;
                border-bottom: 1px solid rgba(silver, 0.2);
            }
            &:hover {
                @media (min-width: $sw-sm-min) {
                    & > a {
                        color: $green;
                    }
                }
            }
            &--sub {
                position: relative;
                &:hover {
                    @media (min-width: $sw-sm-min) {
                        & > .header__sublist {
                            opacity: 1;
                            visibility: visible;
                            transform: translate(-50%, 0) translateZ(0);
                            transition-duration: .3s;
                        }
                    }
                }
                &.is-active {
                    @media (max-width: $sw-sm-max) {
                        & > a .icon-chevron {
                            transform: rotate(-180deg);
                        }
                    }
                }
            }
            & > a {
                @media (max-width: $sw-sm-max) {
                    padding: 1.5rem 0 !important;
                }
                @media (max-width: $sw-xs-max) {
                    padding: 1.5rem 1.2rem !important;
                }
            }
            a {
                display: flex;
                align-items: center;
                color: $lightBlue;
                text-decoration: none;
                font-size: 1.7rem;
                line-height: 1.23em;
                position: relative;
                @media (max-width: $sw-sm-max) {
                    width: 100%;
                    padding: 1.5rem 1.2rem;
                }
                @media (max-width: $sw-xs-max) {
                    justify-content: space-between;
                }
            }
            .icon-chevron {
                margin-left: 1.4rem;
                font-size: 1.4rem;
                flex-shrink: 0;
                transform: none;
                transition: transform .2s ease;
                @media (max-width: $sw-sm-max) {
                    margin-left: 1rem;
                    font-size: 1.2rem;
                }
            }
        }
    }

    // submenu (2 level) styles
    &__sublist {
        background-color: $white;
        width: auto;
        border-radius: 0 0 5px 5px;
        box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
        padding: 1rem 0;
        @media (min-width: $sw-sm-min) {
            display: block !important;
            position: absolute;
            left: 50%;
            top: 100%;
            white-space: nowrap;
            opacity: 0;
            visibility: hidden;
            transform: translate(-50%, 5px);
            transition-property: opacity, visibility, transform;
            transition-duration: .15s;
            transition-timing-function: ease;
        }
        @media (max-width: $sw-md-max) {
            padding: 0;
        }
        @media (max-width: $sw-xs-max) {
            display: none;
            padding: 0;
            width: 100%;
            border-radius: 0;
            box-shadow: none;
        }
        &__item {
            @media (max-width: $sw-xs-max) {
                border-top: 1px solid rgba(silver, 0.2);
            }
            &:hover {
                @media (min-width: $sw-sm-min) {
                    & > a {
                        color: $green;
                    }
                }
            }
            & > a {
                padding: 1.5rem;
                @media (max-width: $sw-md-max) {
                    padding: 1rem 1.5rem;
                }
                @media (max-width: $sw-sm-max) {
                    padding: 1rem 1.2rem;
                    font-size: 1.6rem;
                }
                @media (max-width: $sw-xs-max) {
                    padding: 1.5rem 2.5rem;
                }
            }
            &--sub {
                position: relative;
                &:hover {
                    @media (min-width: $sw-sm-min) {
                        & > .header__submenu {
                            opacity: 1;
                            visibility: visible;
                            transform: translateY(0) translateZ(0);
                            transition-duration: .3s;
                        }
                    }
                }
                a {
                    justify-content: space-between;
                }
            }
        }
    }

  
    // user side styles
    &__user {
        color: $lightBlue;
        transition: color .3s ease;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        @media (max-width: $sw-xs-max) {
            width: 100%;
            padding: 1.5rem 1.2rem;
        }
        &:hover {
            @media (min-width: $sw-sm-min) {
                color: $green;
            }
        }
        .icon-profile {
            font-size: 1.5rem;
            margin-right: 4px;
        }
        &__name {
            text-transform: uppercase;
            font-size: 1.7rem;
            line-height: 1.23em;
        }
        &-side {
            margin-left: 1.7rem;
            display: flex;
            align-items: center;
            @media (max-width: $sw-xs-max) {
                order: 1;
                margin-left: 0;
                width: 100%;
                border-bottom: 1px solid rgba(silver, 0.2);
            }
        }
    }

    // burger menu
    &__burger {
        display: none;
        margin-left: auto;
        @media (max-width: $sw-xs-max) {
            display: flex;
        }
        &-trigger {
            cursor: pointer;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 5px;
            &.is-active {
                .icon-burger {
                    color: $green;
                }
            }
            .icon-hamburger {
                color: $lightBlue;
                font-size: 2.5rem;
                margin-bottom: 4px;
                transition: color .3s ease;
            }
            &__text {
                color: $lightBlue;
                font-size: 1.2rem;
                line-height: 1.25em;
            }
        }
    }
}