html {
	height: 100%;
	font-size: 10px;
}
body {
	position: relative;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	min-height: 100%;
	min-width: 320px;
	background-color: #f5f6f8;
	@media (max-width: $sw-xx-max) {
		background-color: $white;
	}
	&.main-page {
		background-color: $white;
	}
}

img{
	max-width: 100%;
	height: auto;
}

.h-mb-0 {
	margin-bottom: 0 !important;
}

.h-mt-45 {
	margin-top: 4.5rem;
}