

$white:    #fff;
$black:    #000;

$dark: #373A3C;
$blue: #428BCA;
$darkBlue: #165D9F;
$lightBlue: #396FAB;
$green: #39ABA4;


$body-bg:                   $white;
$body-color:                $dark;


$link-color:                              $dark;
$link-decoration:                         none;
$link-hover-color:                        $dark;
$link-hover-decoration:                   none;


$paragraph-margin-bottom:   1rem;

$sw-xx-min: 0;
$sw-xs-min: 768px;
$sw-sm-min: 992px;
$sw-md-min: 1200px;
$sw-lg-min: 1440px;

$sw-xx-max:$sw-xs-min - 1px;
$sw-xs-max:$sw-sm-min - 1px;
$sw-sm-max:$sw-md-min - 1px;
$sw-md-max:$sw-lg-min - 1px;

$grid-breakpoints: (
  xs: $sw-xx-min,
  sm: $sw-xs-min,
  md: $sw-sm-min,
  lg: $sw-md-min,
  xl: $sw-lg-min
);

$container-max-widths: (
  sm: 100%,
  md: 958px,
  lg: 1200px,
  xl: 1440px
);


$grid-columns:                24;
$grid-gutter-width:           30px;
$grid-row-columns:            12;


// fonts
$ssp: 'source-sans-pro', sans-serif;

$font-family-sans-serif:      $ssp;
$font-family-monospace:       $ssp;
$font-family-base:            $font-family-sans-serif;

