
mixin head(data)
	- var project_mame = 'Sali'
		unless (data)
			- var data = {}
	head
		// page name
		title=data.title ? project_mame + ' | ' + data.title : ' | New page'
		// Required meta tags
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
		// Optional styles
		link(href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap" rel="stylesheet")
		link(href='s/css/all.css', rel='stylesheet')